.join-container label {
  display: inline-block;
  width: 4em;
  margin: 0.8em;
}

.join-container input {
  height: 2em;
  width: 15em;
  text-align: center;
  border-radius: 0.2em;
  background-color: rgb(250, 250, 250);
  border: 1px solid #dbdbdb;
}

.join-container .join-submit {
  width: 5em;
  background-color: #67b5fa;
  color: white;
  border-radius: 0.5em;
  float: right;
  margin-right: 2em;
}

.join-submit-box {
  width: 100%;
}

.join-div-info-box {
  display: flex;
  align-items: center;
}

.join-container .join-div-info-box label {
  width: 22em;
  margin-right: 0;
}

#join-div-info {
  width: 1.2em;
  text-align: center;
  margin: 0;
}
