
.product_descTopBox {
  width: auto;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* 화면이 작아질 경우에도 여러 줄에 걸쳐 표시되도록 수정 */
}

.product_descImage,
.prodduct_descImageContent {
  box-sizing: border-box;
  flex: 1; /* 화면 너비에 따라 동적으로 크기 조절 */
  max-width: 100%; /* 부모 너비보다 큰 경우를 방지 */
  height: 200px;
  margin: 5px;
  border: 1px solid purple;
}

.product_descFixedBarBox {
  margin: 5px;
  margin-top: 5rem;
  box-sizing: border-box;
  width: 96vw;
  height: 100px;
  /* border: 1px solid purple; */
  display: flex;
  top: 0;
  background-color: white;
  position: sticky;
  justify-content: center;
}

.product_descFixedBar {
  flex: 1;
  padding-top: 2.3rem;
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid black;
}

.product_descText {
  width: 96vw;
  margin-top: 2rem; 
}

#product_opt1:hover,
#product_opt2:hover,
#product_opt3:hover,
#product_opt4:hover,
#product_opt5:hover,
#product_opt6:hover {
  
  background-color: #ccc; 
  color: #333; 
}

.product_descTextContentBox {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  
}


@media screen and (min-width: 600px) {
  .product_descImage,
  .prodduct_descImageContent {
    flex: 0 0 calc(50% - 10px); /* 화면이 600px 이상일 때, 각각의 너비를 50%로 조절하고 간격을 포함한 크기로 설정 */
  }
}

