
.product_descTopBox {
  width: auto;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* 화면이 작아질 경우에도 여러 줄에 걸쳐 표시되도록 수정 */
}

.product_descImage,
.prodduct_descImageContent {
  box-sizing: border-box;
  flex: 1; /* 화면 너비에 따라 동적으로 크기 조절 */
  max-width: 100%; /* 부모 너비보다 큰 경우를 방지 */
  height: 200px;
  margin: 5px;
  border: 1px solid purple;
}

.product_descFixedBar {
  
}

@media screen and (min-width: 600px) {
  .product_descImage,
  .prodduct_descImageContent {
    flex: 0 0 calc(50% - 10px); /* 화면이 600px 이상일 때, 각각의 너비를 50%로 조절하고 간격을 포함한 크기로 설정 */
  }
}

