#header {
  background-image: url("../images/header_background.jpg");
  background-size: auto;
    padding: 10px auto;
}
#header #logo{
    padding: 10px auto;
}
#header .fld-search{
    padding: auto;
    background-color: white;
    clear: right;
}


#header #search-input{
    outline: none;
    border: none;
    font-size: 1.2rem;
}
#header .login_box{
    padding: 20px auto;
    float: right;
    font-size: 1rem;
}
#header .sign_box{
    padding: 20px auto;
    float: right;
    font-size: 1rem;
}

.menu ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

.menu ul li{
    display: inline-block;
    width: 100px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}
.menu ul li a:active
{
    background-color: white;
}

#main_ContentBox:target
{
    background-color: white;
}
#youtube-container:target
{
    background-color: white;
}
#footer_all:target{
    background-color: white;
}
.menu ul li.menu_home {
  background-color: red;
}
.menu ul li.menu_main {
  background-color: aquamarine;
}
.menu ul li.menu_yt {
  background-color: yellow;
}
.menu ul li.menu_footer {
  background-color: purple;
}

.main_ContentBox {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.main_Image {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
}
.main_Text {
  width: auto;
  height: 150px;
  margin: 10px;
  border: none;
  /* float: left; */
}

/* 유튜브 영상 */
.youtube-container {
  width: 100%;
}
.youtube-video {
  width: 90%;
  margin: 10px auto;
  height: 40vh;
}
