@import "nav.css";

body {
  margin: 0;
  margin-top: 5px;
}

a {
  text-decoration: none;
}
main a {
  color: black;
}

body {
  margin: 0;
}
.menu ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

.menu ul li {
  display: inline-block;
  width: 100px;
  padding: 10px;
  background-color: white;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.menu ul li a:active {
  background-color: white;
}
.menu ul li.menu_home {
  background-color: red;
}
.menu ul li.menu_main {
  background-color: aquamarine;
}
.menu ul li.menu_yt {
  background-color: yellow;
}
.menu ul li.menu_footer {
  background-color: purple;
}

.main_ContentBox {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.main_Image {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: transform 0.3s;
}

.main_Image:hover {
  transform: scale(1.1);
}
.main_Text {
  width: 300px;
  height: 150px;
  margin: 10px;
  border: none;
  /* float: left; */
}

/* 유튜브 영상 */
.youtube_container {
  width: auto 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

/* 양지은_1/19일에 footer 새로 작성한 부분 시작 */
/* 새로 작성한 footer 그리드 영역 */
.footer_container {
  display: grid;
  width: 100%;
  grid-template-columns: 4;
  grid-row-gap: 150px;
  grid-template-rows: 4;
  text-align: left;
  font-size: 17px;
  /* background-color: #eaeaea; */
}
/* 새로 작성한 footer 회사 이름 스타일, 위치 */
.footer_title {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 7px;
}
/* 새로 작성한 푸터 (회사 이름, 고객센터, 고객 센터 시간 구역 디자인,위치설정 */
.footer {
  text-align: center;
}
/* 새로 작성한 푸터 회사이름 구역 사진 위치, 디자인 설정 */
.footer_img {
  position: relative;
  top: 12px;
  left: -2px;
}
/* 새로 작성한 푸터 "고객 운영시간 안내" 텍스트 디자인, 위치 설정 */
.footer_customer_title {
  font-size: 17px;
  font-weight: bold;
  color: #747474;
}
/* 새로 작성한 회사 주의사항 디자인, 위치 설정 */
.footer_notice {
  grid-column-start: 1;
  grid-column-end: 4;
  box-sizing: border-box;
  height: 145px;
  list-style: none;
  text-align: center;
  font-size: 15px;
}
/* 새로 작성한 푸터 밑 회사 이름 설정 */
.footer_bottom_tourname {
  font-size: 11px;
}

/* 조조투어(주소, 등록번호) 구역 위치설정 */
.footer.tour_infor {
  border: 1px solid black;
  margin-top: 30px;
}

/* 양지은 footer 구역 끝  */

@media screen and (max-width: 390px) {
  main {
    margin-left: 10px;
  }
  .youtube_container {
    margin-left: 200px;
  }
  .footer_container {
    margin-left: 100px;
  }

}
