body {
  margin: 0;
}

#header {
  background-image: url("../images/header_background.jpg");
  background-size: auto;
  padding: 10px auto;
}
#header #logo {
  padding: 10px auto;
}
#header .fld-search {
  padding: auto;
  background-color: white;
  clear: right;
}

#header #search-input {
  outline: none;
  border: none;
  font-size: 1.2rem;
}
#header .login_box {
  padding: 20px auto;
  float: right;
  font-size: 1rem;
}
#header .sign_box {
  padding: 20px auto;
  float: right;
  font-size: 1rem;
}

.menu ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

.menu ul li {
  display: inline-block;
  width: 100px;
  padding: 10px;
  background-color: white;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.menu ul li a:active {
  background-color: white;
}
.menu ul li.menu_home {
  background-color: red;
}
.menu ul li.menu_main {
  background-color: aquamarine;
}
.menu ul li.menu_yt {
  background-color: yellow;
}
.menu ul li.menu_footer {
  background-color: purple;
}


.main_ContentBox {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.main_Image {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: transform 0.3s;
}

.main_Image:hover{
  transform: scale(1.1); 
}
.main_Text {
  width: 300px;
  height: 150px;
  margin: 10px;
  border: none;
  /* float: left; */
}

/* 유튜브 영상 */
.youtube_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

/* 양지은 footer 구역 시작 */

#footer_all {
  background-color: #eaeaea;
  border-top: 1px solid;
  width: 100%;
  /* height: auto; */
  color: black;
}
/* 고객센터, 고객센터 운영시간안내, 투어이름 */
#footer_up {
  font-size: 17px;
  color: #5e5e5e;
  margin: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: no wrap;
}
/* 조조투어 이름 텍스트 디자인 */
.footer_title {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
/* 조조투어 그림 위치 설정 */
.footer_img {
  position: absolute;
  left: 125px;
}
/* 고객센터 운영시간 안내 위치 설정 */
.footer_custime {
  margin-left: 250px;
}
/* 투어 주의사항 구역 위치 설정 */
.footer_notice {
  list-style: none;
  text-align: center;
  font-size: 12px;
  position: relative;
  top: 120px;
}
/* 고객센터 위치 설정 */
.footer_customer {
  list-style: none;
  margin-left: 250px;
  margin-top: 0px;
}
/* 고객센터 텍스트 스타일 */
.footer_custitle {
  font-weight: bold;
}
/* copyright 텍스트 */
.footer_tourname {
  text-align: right;
  font-size: 11px;
  margin-top: 200px;
  margin-right: 40px;
}

/* 조조투어(주소, 등록번호) 구역 위치설정 */
.footer.tour_infor {
  border: 1px solid black;
  margin-top: 30px;
}

/* 양지은 footer 구역 끝  */
